# do not include irrelevant files
.idea/
.DS_Store

# do not include data files in the repo
data/

# ignore venv
*venv/

# ignore outputs and checkpoints
outputs/
notebooks/checkpoints
notebooks/utilities/checkpoints